<div class="container">
  <h3> My profile </h3>
  <%= form_for current_user, url: save_image_path, method: :patch do |f| %>
    <div class="profile_foto">
      <%= f.label :image %>
      <%= f.file_field :image, value: current_user.image %>
      <%= f.button :Save %>
  <% end %>
  <%= image_tag(current_user.image.url, alt: 'Image') if current_user.image? %>
    </div>
  <div class="row">
    <div class="col-sm-2">
      <h5> Name</h5>
      <h5> Email</h5>
    </div>
    <div class="col-sm-4">
      <p> <%= current_user.name%> </p>
      <p><%= current_user.email%></p>
    </div>
  </div>
  <section class="profile-container">
        <%= form_tag share_path, method: :post do |f| %>
          <div class="profile_f">
            <%= text_field_tag :friend, params[:friend], class: 'search', placeholder: "Enter user name" %>
            <%= submit_tag "Share", class: "btn btn-outline-success btn-sm", id: "profile_add_btn" %>
          </div>
        <% end %>     
  </section> 
   <ul>Shared to:
   <% @friends_i_share.each do |friend|%>
    <li>
      <%= friend.name %>
      <%= link_to '&cross;'.html_safe, profile_path(friend_id: friend.id), method: :delete, :remote => true %> 
    </li>
   <%end%>
   </ul>
   <ul>Shared to me:
  <% @friends_share_me.each do |friend|%>
    <li><a href="<%=friend_tasks_path(friend_id: friend.id)%>"><%= friend.name %></a></li>
  <%end%>
  </ul>
</div>